{% extends 'base.html' %}
{% load static %}

{% block title %}
    To do list
{% endblock title %}

{% block content %}
    <section id="section-title">
            <h1 id="title">To-do list</h1>
        </section>

        <section id="section-form">
            <form method="POST" id="add-form">
                {% csrf_token %}
                <input type="text" placeholder="List items separated by commas" name="query"><button type="submit">Add</button>
            </form>
        </section>
    
        <section id="section-items">
            <div class="box">
                {% include 'items/list_items.html' with items=items %}
                <h2 id="no-items" class="{% if items %}hide{% endif %}">Nothing to do</h2>
            </div>
        </section>

        <section id="section-relogin">
            <a href="{% url 'login' %}" class="link-relogin">Change account</a>
        </section>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/app.js' %}"></script>
{% endblock scripts %}
